In [43]:
import snowflake.connector

# Gets the version
ctx = snowflake.connector.connect(
    user='',
    password='',
    account=''
    )
cs = ctx.cursor()

In [44]:
import pandas as pd

In [54]:
query = '''
SELECT user_id, 
       COUNT(*) as number_of_transactions_sports, 
       COUNT(DISTINCT TO_DATE(load_timestamp)) AS number_of_days_sports, 
       COUNT(DISTINCT GEO_DEVICE_HASH) AS number_of_geo_sports
FROM "TEST_DATA"."PUBLIC"."TEST_TABLE"
WHERE taxonomy_code = 'SPORTS_FAN' 
GROUP BY 1
;'''

query_output = cs.execute(query)

In [55]:
df = pd.DataFrame(query_output, columns = ['user_id', 'number_transactions_sports', 'number_of_days_sports', 'number_of_geo_hash_sports'])

In [56]:
df

,user_id,number_transactions_sports,number_of_days_sports,number_of_geo_hash_sports
0,-10874127871773704133,1,1,1
1,-7826610857493704748,1,1,1
2,12434852597562370356,2,2,1
3,21724286819583370440,1,1,1
4,-25898055991173703338,2,2,1
...,...,...,...,...
4646,-2728755476109370434,1,1,1
4647,-26021454111843702378,1,1,1
4648,23088807049287370467,1,1,1
4649,-27074824144953703674,1,1,1
4650,11095140004665370308,1,1,1

In [57]:
df.to_csv('sports.csv', index=False)